.container-tabela{
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}
.tabela{
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}
.tabela th, .tabela td{
    padding: 3px 8px;
}
.tabela th{
    border-bottom: 1px solid grey;
    width: 100px;
}
.tabela th:last-child{
    border-right: none;
}
.tabela td{
    border-top: none;
    border-right: none;
    border-bottom: 1px solid grey;
    border-left: none;
}
.cabecalho-tabela{
    display: flex;
    flex-direction: column;
}

.conteudo a{
    text-decoration: none;
    color: black;
    cursor: auto;
}
.conteudo .botao_adicionar{
    color: rgb(7, 102, 131);
    margin-bottom: 10px;
    cursor: pointer;
}
.conteudo input{
    width: 100px;
    border-top: none;
    border-right: none;
    border-left: none;
}

/* FORMULARIO */

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    flex: 0 0 auto;
    padding: 0 15px; /* Espacamento opcional entre colunas */
    box-sizing: border-box;
}

.col-1 { width: 8.33%; } /* 1/12 */
.col-2 { width: 16.66%; } /* 2/12 */
.col-3 { width: 25%; }    /* 3/12 */
.col-4 { width: 33.33%; } /* 4/12 */
.col-5 { width: 41.66%; } /* 5/12 */
.col-6 { width: 50%; }    /* 6/12 */
.col-7 { width: 58.33%; } /* 7/12 */
.col-8 { width: 66.66%; } /* 8/12 */
.col-9 { width: 75%; }    /* 9/12 */
.col-10 { width: 83.33%; }/* 10/12 */
.col-11 { width: 91.66%; }/* 11/12 */
.col-12 { width: 100%; }  /* 12/12 */

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.form-group{
    display: flex;
    flex-direction: column;
}
.form-group input{
    padding: 5px;
}